<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>

<body>
    <h2>Reviews Section</h2>
    <hr>
    <h4>This is a e-commerce review project which tells the rating of your review </h4>
    <form action="", method="POST">
        {% csrf_token %}
        <p>Review: <textarea name="review" cols="30" rows="10"></textarea></p>
        <input type="submit">
        <p>Review examples:
            <li>The dress is very bad</li>
            <li>Awesome dress</li>
            <li>The material of the cloth is cheap</li>
            <li>One of the best clothes</li>
        </p>
    </form> 
    {% if result %}
        <h3>This is a {{result}} star review</h3>
    {% endif %} 
</body>

</html>